<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>DIGITAL LEARNING | Digital Agency</title>
<meta name="author" content="Themezinho">
<meta name="description" content="DIGITAL LEARNING | Digital Agency HTML Template">
<meta name="keywords" content="html, template, carousel, theme, themezinho, agency, html5">

<!-- SOCIAL MEDIA META -->
<meta property="og:description" content="DIGITAL LEARNING | Digital Agency">
<meta property="og:image" content="http://www.themezinho.net/DIGITAL LEARNING/preview.png">
<meta property="og:site_name" content="DIGITAL LEARNING">
<meta property="og:title" content="DIGITAL LEARNING">
<meta property="og:type" content="website">
<meta property="og:url" content="http://www.themezinho.net/DIGITAL LEARNING">

<!-- TWITTER META -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@DIGITAL LEARNING">
<meta name="twitter:creator" content="@DIGITAL LEARNING">
<meta name="twitter:title" content="DIGITAL LEARNING">
<meta name="twitter:description" content="DIGITAL LEARNING | Digital Agency">
<meta name="twitter:image" content="http://www.themezinho.net/DIGITAL LEARNING/preview.png">

<!-- FAVICON FILES -->
<link href="ico/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon-precomposed" sizes="144x144">
<link href="ico/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon-precomposed" sizes="114x114">
<link href="ico/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon-precomposed" sizes="72x72">
<link href="ico/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon-precomposed">
<link href="ico/favicon.png" rel="shortcut icon">

<!-- CSS FILES -->
<link href="css/animate.css" rel="stylesheet">
<link href="css/owl.carousel.css" rel="stylesheet">
<link href="css/jquery.fancybox.css?v=2.1.5" media="screen" rel="stylesheet" type="text/css" />
<link href="css/settings.css" rel="stylesheet">
<link href="css/ionicons.css" rel="stylesheet">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="loading yellow-bg">
  <div class="table">
    <div class="inner"> <img src="images/logo.jpeg" alt="Image">
      <div class="clearfix"></div>
      <div class="spinner"></div>
    </div>
    <!-- end inner --> 
  </div>
  <!-- end table --> 
</div>
<!-- end loading -->
<div class="transition-overlay yellow-bg"></div>
<!-- end transition-overlay -->
<div class="side-menu"> <span class="side-menu-close"><i class="ion-android-close"></i></span>
  <h4>QUICK CONTACT</h4>
  <form id="contact" name="contact" method="post">
    <input type="text" name="name" id="name" placeholder="NAME" required>
    <input type="text" name="email" id="email" placeholder="E-MAIL ADDRESS" required>
    <input type="text" name="subject" id="subject" placeholder="SUBJECT" required>
    <textarea name="message" id="message" placeholder="YOUR MESSAGE" required></textarea>
    <button id="submit" type="submit" name="submit">SEND MESSAGE</button>
  </form>
  <div id="success" class="alert alert-success" role="alert">
    <p>Your message was sent successfully! We will be in touch as soon as we can.</p>
  </div>
  <!-- end success -->
  <div id="error" class="alert alert-danger" role="alert">
    <p>Something went wrong, try refreshing and submitting the form again.</p>
  </div>
  <!-- end error -->
  <ul>
    <li class="facebook"><a href="#"><i class="ion-social-facebook"></i></a></li>
    <li class="twitter"><a href="#"><i class="ion-social-twitter"></i></a></li>
    <li class="googleplus"><a href="#"><i class="ion-social-googleplus"></i></a></li>
    <li class="instagram"><a href="#"><i class="ion-social-instagram"></i></a></li>
    <li class="pinterest"><a href="#"><i class="ion-social-pinterest"></i></a></li>
    <li class="youtube"><a href="#"><i class="ion-social-youtube"></i></a></li>
  </ul>
</div>
<header class="yellow-bg int-header">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="nav">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle toggle-menu menu-left push-body" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand" href="#"><img src="images/logo.jpeg" alt="Image"></a> </div>
      <div class="collapse navbar-collapse cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/" class="transition">HOME</a></li>
          <li><a href="/about" class="transition">ABOUT US</a></li>
          <li><a href="/services" class="transition">SERVICES</a></li>
           <!--<li><a href="/works" class="transition">WORKS</a></li>-->
          <li> <a href="/blog" class="transition">BLOG</a></li>
          <li><a href="/contact" class="transition">CONTACT</a></li>
          <li><a href="#" class="hamburger-menu"><i class="ion-navicon"></i></a></li>
        </ul>
      </div>
      <!-- end navbar-collapse --> 
    </div>
    <!-- end container --> 
  </nav>
  <!-- end nav -->
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="title">CONTACT</h2>
        <h5 class="sub-title">Just say hi! You are always welcome</h5>
      </div>
    </div>
  </div>
</header>
<section class="about-us" >
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 left-side" data-stellar-background-ratio="0.5" style="height: 700px;">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3964.6469554058895!2d3.521414214520198!3d6.439365025922832!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103bf6f599a4c58d%3A0x4bb8ca006fbf9721!2sVascon%20Solutions!5e0!3m2!1sen!2sng!4v1582288846112!5m2!1sen!2sng" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="">
      </iframe>
   
      </div>
      <!-- end col-6 -->
      <div class="col-md-6 right-side" style="height: 700px;">
        <div class="table wow fadeInUp">
          <div class="inner">
            <address >
              <h3>MAIN OFFICE</h3>
              <h5>You are always welcome to stop by and say hello !</h5>
              <p> Km 18 Lekki-Epe Expresssway, Lagos, Nigeria</p>
             
              </address>
         
       
         
          <form id="contact2" name="contact" method="post" class="wow fadeInUp">
            <div class="form-group">
              <input type="text" name="name" id="name" placeholder="Your name" class="spacing" required>
              <input type="text" name="email" id="email" placeholder="E-mail" required>
            </div>
           
            <div class="form-group">
              <input type="text" name="city" id="city" placeholder="City" class="spacing" required>
              <input type="text" name="subject" id="subject" placeholder="Subject" required>
            </div>
           
            <div class="form-group">
              <textarea name="message" id="message" placeholder="Your message" required></textarea>
            </div>
           
            <div class="form-group">
              <button id="submit" type="submit" name="submit">SUBMIT</button>
            </div>
           
          </form>
          <div id="success2" class="alert alert-success" role="alert">
            <p>Your message was sent successfully! We will be in touch as soon as we can.</p>
          </div>
          <!-- end success -->
          <div id="error2" class="alert alert-danger" role="alert">
            <p>Something went wrong, try refreshing and submitting the form again.</p>
          </div>
          
            </div>
          <!-- end inner --> 
        </div>
        <!-- end table --> 
      </div>
      <!-- end col-6 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>

<section class="quote" data-stellar-background-ratio="0.5">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-xs-12">
        <div class="content-box">
          <h1>DIGITAL MARKETING SKILL TRAINING</h1>
          <p style="color: white;">
            With digital marketing skill you can be able to;
            <ul>
              <li>Start a drop shipping business</li>
              <li>Be a digital marketer</li>
            <li>Become a freelancer</li>
          <li>Become a content writer</li>
            </ul> </p>                                                                                                                                                                                    
    <p>Nowadays, large scale and small scale companies are investing in digital marketing activities.
     The demand for professionals in this field is high.</p>
     <button class="open-button" onclick="openForm()">LEARN MORE  ></button>
     <br>
     <br>
     <br>
     <br>
     <br>
     <div class="form-popup" id="myForm">
       <form action="/action_page.php" class="form-container">
        
         <input type="text" placeholder="Name" name="name" required>
         <br>
     
         <input type="text" placeholder=" Email" name="email" required>
         <br>
     
         <input type="text" placeholder="Phone Number" name="psw" required>
     <br>
     <textarea name="message" id="message" placeholder="Your message" required></textarea>
     <br>
         <button type="submit" class="btn">Send Message</button>
         <br>
         <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
       </form>
     </div> </div>
        <!-- end content-box --> 
      </div>
      <!-- end col-12 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end quote -->
<section class="contact">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-xs-12">
        <h2>CONTACT</h2>
      </div>
      <!-- end col-12 -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <figure><img src="images/icon5.png" alt="Image"></figure>
        <dl>
          <dt>LOCATION</dt>
          <dd> Km 18 Lekki-Epe Expresssway, Lagos, Nigeria</dd>
        </dl>
      </div>
      <!-- end col-3 -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <figure><img src="images/icon6.png" alt="Image"></figure>
        <dl>
          <dt>PHONE</dt>
          <dd>0701442282</dd>
          
        </dl>
      </div>
      <!-- end col-3 -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <figure><img src="images/icon7.png" alt="Image"></figure>
        <dl>
          <dt>E-MAIL</dt>
          <dd>learningground22@gmail.com</dd>
          
        </dl>
      </div>
      <!-- end col-3 -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <figure><img src="images/icon8.png" alt="Image"></figure>
        <dl>
          <dt>Working hours</dt>
          <dd>Mon-Fri 9.00am - 5.00pm
          <dd>Sat 12.00 - 4.00pm</dd>
        </dl>
      </div>
      <!-- end col-3 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end contact -->
<footer>
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-4 col-sm-6"> <img src="images/logo.jpeg" alt="Image" class="logo">
      
      </div>
      <!-- end col-4 -->
      <div class="col-md-4 col-sm-6">
        <h4>PHOTO GALLERY</h4>
        <ul class="gallery">
          <li>
            <figure><img src="images/INFO.png" alt="Image">
              <figcaption><a href="images/INFO.png" class="fancybox"><i class="ion-android-expand"></i></a></figcaption>
            </figure>
          </li>
          <li>
            <figure><img src="images/Digital-Marketing-1.png" alt="Image">
              <figcaption><a href="images/Digital-Marketing-1.png" class="fancybox"><i class="ion-android-expand"></i></a></figcaption>
            </figure>
          </li>
          <li>
            <figure><img src="images/digital pix 1.png" alt="Image">
              <figcaption><a href="images/digital pix 1.png" class="fancybox"><i class="ion-android-expand"></i></a></figcaption>
            </figure>
          </li>
          <li>
            <figure><img src="images/sales-and-marketing-basics.jpg" alt="Image">
              <figcaption><a href="images/sales-and-marketing-basics.jpg" class="fancybox"><i class="ion-android-expand"></i></a></figcaption>
            </figure>
          </li>
          <li>
            <figure><img src="images/free-digital-marketing-analysis.jpg" alt="Image">
              <figcaption><a href="images/free-digital-marketing-analysis.jpg" class="fancybox"><i class="ion-android-expand"></i></a></figcaption>
            </figure>
          </li>
          <li>
            <figure><img src="images/free-digital-marketing-business-vector-illustration.jpg" alt="Image">
              <figcaption><a href="images/free-digital-marketing-business-vector-illustration.jpg" class="fancybox"><i class="ion-android-expand"></i></a></figcaption>
            </figure>
          </li>
        </ul>
        <!-- end gallery --> 
      </div>
      <!-- end col-4 -->
      <div class="col-md-4 col-sm-12">
        <h4>NEWSLETTER</h4>
        <p>You will be among the first to know about hot new software and great deals on stuff to enhance and promote</p>
        <form>
          <input type="text" placeholder="Your e-mail">
          <button type="submit">SUBSCRIBE</button>
        </form>
        <small>* I promise, we won’t spam you!</small> </div>
      <!-- end col-4 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</footer>
<!-- end footer -->
<section class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h6>Copyright © 2015 , DIGITAL LEARNING | Digital Agency</h6>
      </div>
      <!-- end col-6 -->
      <div class="col-md-6">
        <h6 class="pull-right">Created by Themezinho with <i class="ion-heart"></i> in Istanbul</h6>
      </div>
      <!-- end col-6 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end sub-footer --> 

<!-- JS FILES --> 
<script src="js/jquery.min.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script>function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}</script>
<script type="text/javascript">
(function($) {
	$(window).load(function(){
		$(".loading .table .inner").addClass("fade");
		$('.loading').delay(2000).addClass("fade-out");	
	});
})(jQuery)
</script>
<script type="text/javascript">
(function($) {
	$(window).load(function(){
		$(".loading .table .inner").addClass("fade");
		$('.loading').delay(2000).addClass("fade-out");	
	});
})(jQuery)
</script> 
<script src="js/jquery.form.js"></script> 
<script src="js/jquery.validate.min.js"></script> 
<script src="js/contact-form.js"></script>
<script src="js/contact-form2.js"></script>
<script src="js/waypoints.min.js"></script> 
<script src="js/jquery.counterup.min.js"></script> 
<script src="js/isotope.min.js"></script> 
<script src="js/masonry.js"></script> 
<script src="js/wow.js"></script> 
<script src="js/owl.carousel.js"></script> <script src="js/jquery.stellar.js"></script> 
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script> 
<script src="js/google-maps.js"></script> 
<script src="js/jquery.fancybox.js?v=2.1.5" type="text/javascript"></script> 
<script src='js/jquery.themepunch.tools.min.js' type='text/javascript' ></script> 
<script src='js/jquery.themepunch.revolution.min.js' type='text/javascript' ></script> 
<script src='js/settings.js' type='text/javascript' ></script> 
<script src='js/scripts.js' type='text/javascript' ></script>
</body>
</html>
