<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>DIGITAL LEARNING | Digital Agency</title>
<meta name="author" content="Themezinho">
<meta name="description" content="DIGITAL LEARNING | Digital Agency HTML Template">
<meta name="keywords" content="html, template, carousel, theme, themezinho, agency, html5">

<!-- SOCIAL MEDIA META -->
<meta property="og:description" content="DIGITAL LEARNING | Digital Agency">
<meta property="og:image" content="http://www.themezinho.net/DIGITAL LEARNING/preview.png">
<meta property="og:site_name" content="DIGITAL LEARNING">
<meta property="og:title" content="DIGITAL LEARNING">
<meta property="og:type" content="website">
<meta property="og:url" content="http://www.themezinho.net/DIGITAL LEARNING">

<!-- TWITTER META -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@DIGITAL LEARNING">
<meta name="twitter:creator" content="@DIGITAL LEARNING">
<meta name="twitter:title" content="DIGITAL LEARNING">
<meta name="twitter:description" content="DIGITAL LEARNING | Digital Agency">
<meta name="twitter:image" content="http://www.themezinho.net/DIGITAL LEARNING/preview.png">

<!-- FAVICON FILES -->
<link href="ico/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon-precomposed" sizes="144x144">
<link href="ico/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon-precomposed" sizes="114x114">
<link href="ico/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon-precomposed" sizes="72x72">
<link href="ico/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon-precomposed">
<link href="ico/favicon.png" rel="shortcut icon">

<!-- CSS FILES -->
<link href="css/animate.css" rel="stylesheet">
<link href="css/owl.carousel.css" rel="stylesheet">
<link href="css/jquery.fancybox.css?v=2.1.5" media="screen" rel="stylesheet" type="text/css" />
<link href="css/settings.css" rel="stylesheet">
<link href="css/ionicons.css" rel="stylesheet">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="loading yellow-bg">
  <div class="table">
    <div class="inner"> <img src="images/logo.jpeg" alt="Image">
      <div class="clearfix"></div>
      <div class="spinner"></div>
    </div>
    <!-- end inner --> 
  </div>
  <!-- end table --> 
</div>
<!-- end loading -->
<div class="transition-overlay yellow-bg"></div>
<!-- end transition-overlay -->
<div class="side-menu"> <span class="side-menu-close"><i class="ion-android-close"></i></span>
  <h4>QUICK CONTACT</h4>
  <form id="contact" name="contact" method="post">
    <input type="text" name="name" id="name" placeholder="NAME" required>
    <input type="text" name="email" id="email" placeholder="E-MAIL ADDRESS" required>
    <input type="text" name="subject" id="subject" placeholder="SUBJECT" required>
    <textarea name="message" id="message" placeholder="YOUR MESSAGE" required></textarea>
    <button id="submit" type="submit" name="submit">SEND MESSAGE</button>
  </form>
   <div id="success" class="alert alert-success" role="alert">
          <p>Your message was sent successfully! We will be in touch as soon as we can.</p>
        </div>
        <!-- end success -->
        <div id="error" class="alert alert-danger" role="alert">
          <p>Something went wrong, try refreshing and submitting the form again.</p>
        </div>
        <!-- end error -->
  <ul>
    <li class="facebook"><a href="#"><i class="ion-social-facebook"></i></a></li>
    <li class="twitter"><a href="#"><i class="ion-social-twitter"></i></a></li>
    <li class="googleplus"><a href="#"><i class="ion-social-googleplus"></i></a></li>
    <li class="instagram"><a href="#"><i class="ion-social-instagram"></i></a></li>
    <li class="pinterest"><a href="#"><i class="ion-social-pinterest"></i></a></li>
    <li class="youtube"><a href="#"><i class="ion-social-youtube"></i></a></li>
  </ul>
</div>
<!-- end side-menu -->
<header>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="nav">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle toggle-menu menu-left push-body" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand" href="/index-slider"><img src="images/logo.jpeg" alt="Image"></a> </div>
      <div class="collapse navbar-collapse cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/" class="transition">HOME</a></li>
          <li><a href="/about" class="transition">ABOUT US</a></li>
          <li><a href="/services" class="transition">SERVICES</a></li>
           <!--<li><a href="/works" class="transition">WORKS</a></li>-->
          
          <li> <a href="/blog" class="transition">BLOG</a></li>
          <li><a href="/contact" class="transition">CONTACT</a></li>
          <li><a href="#" class="hamburger-menu"><i class="ion-navicon"></i></a></li>
        </ul>
      </div>
      <!-- end navbar-collapse --> 
    </div>
    <!-- end container --> 
  </nav>
  <!-- end nav -->
  <div class="banner">
    <div id="rev_slider_35_1" class="rev_slider fullwidthabanner">
      <ul>
        <li data-transition="scaledownfromtop" data-masterspeed="700"> 
          <img src="images/crea.jpg" alt="Image"
         data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
          <div class="tp-caption lfb ltt tp-resizeme start" 
        data-x="center" 
        data-hoffset="0" 
        data-y="center" 
        data-voffset="0" 
        data-speed="600" 
        data-start="400" 
        data-easing="Power4.easeOut" 
        data-splitin="none" 
        data-splitout="none" 
        data-elementdelay="0.1" 
        data-endelementdelay="0.1" 
        data-endspeed="500" 
        data-endeasing="Power4.easeIn">
            <div class="slide-content">
              <h1 style="color: black;">DIGITAL LEARNING</h1>
              <h5 style="color: black;" >No Sales?</h5>
              <h5 style="color: black;">
                <br> Do You Want To Grow Your Business?
              </h5>
               <h5 style="color: black;">  <br> Do You Want To Be Visible Online? </h5>
               <h5 style="color: black;">  <br> Tired Of Running ADS Without Satisfying Results?</h5>
               <h5 style="color: black;">  <br> WE ARE HERE FOR YOU.</h5>
             
              <div class="clearfix"></div>
              <button class="open-buton" onclick="openMyForm()">LEARN MORE  <img src="images/mouse.png"></button>

              <div class="form-pop" id="myFormm">
                <form action="/action_page.php" class="form-contain">
                  <label for="name"><b>Name</b></label>
                  <input type="text" placeholder="Name" name="name" required>
                  <br>
                  <label for="email"><b>Email</b></label>
                  <input type="text" placeholder=" Email" name="email" required>
                  <br>
              
                  <label for="psw"><b>Phone</b></label>
                  <input type="text" placeholder="Phone Number" name="psw" required>
              <br>
                  <button type="submit" class="btn">Login</button>
                  <br>
                  <button type="button" class="btn cancel" onclick="closeMyForm()">Close</button>
                </form>
              </div></div>
            
          </div>
        </li>
        <!-- end banner 1 -->
     

          <li data-transition="scaledownfromtop" data-masterspeed="700"> 
            <img src="images/cofefe.png" alt="Image"
           data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
            <div class="tp-caption lfb ltt tp-resizeme start" 
          data-x="center" 
          data-hoffset="0" 
          data-y="center" 
          data-voffset="0" 
          data-speed="600" 
          data-start="400" 
          data-easing="Power4.easeOut" 
          data-splitin="none" 
          data-splitout="none" 
          data-elementdelay="0.1" 
          data-endelementdelay="0.1" 
          data-endspeed="500" 
          data-endeasing="Power4.easeIn">
              <div class="slide-content">
                <div class="clearfix"></div>
                <h1 style="color: black;">DIGITAL LEARNING</h1>
                <h5 style="color: black;" >No Sales?</h5>
                <h5 style="color: black;">
                  <br> Do You Want To Grow Your Business?
                </h5>
                 <h5 style="color: black;">  <br> Do You Want To Be Visible Online? </h5>
                 <h5 style="color: black;">  <br> Tired Of Running ADS Without Satisfying Results?</h5>
                 <h5 style="color: black;">  <br> WE ARE HERE FOR YOU.</h5>
                 <button class="open-buton" onclick="openMyForm()">LEARN MORE  <img src="images/mouse.png"></button>

                 <div class="form-pop" id="myFormm">
                   <form action="/action_page.php" class="form-contain">
                     <label for="name"><b>Name</b></label>
                     <input type="text" placeholder="Name" name="name" required>
                     <br>
                     <label for="email"><b>Email</b></label>
                     <input type="text" placeholder=" Email" name="email" required>
                     <br>
                 
                     <label for="psw"><b>Phone</b></label>
                     <input type="text" placeholder="Phone Number" name="psw" required>
                 <br>
                     <button type="submit" class="btn">Login</button>
                     <br>
                     <button type="button" class="btn cancel" onclick="closeMyForm()">Close</button>
                   </form>
                 </div>
                
                 </div>
            </div>
          </li>
        <!-- end banner 2 -->
      </ul>
      <!-- end ul --> 
    </div>
    <!-- end rev_slider --> 
  </div>
  <!-- end banner --> 
</header>
<!-- end header -->
<section class="about-us">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 left-side" data-stellar-background-ratio="0.5">
        <img src="images/key.jpg" alt="" width="780px" height="500px">
   
      </div>
      <!-- end col-6 -->
      <div class="col-md-6 right-side">
        <div class="table wow fadeInUp">
          <div class="inner">
            <h3>ABOUT <span>DIGITAL LEARNING</span></h3>
            <p>  We are a full service digital company. 
              We are an agency focused on giving creative, strategic and technical development of screen based product and services. </p>
            <p> Our services include training on digital marketing skill, search engine marketing, e-commerce consulting and online advertising. Talk To Our Team.</p>
            <a href="/about">READ MORE</a> </div>
          <!-- end inner --> 
        </div>
        <!-- end table --> 
      </div>
      <!-- end col-6 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end about-us -->
<section class="services">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-4 no-padding">
        <div class="box yellow-bg">
          <div class="table">
            <div class="inner"> <img src="images/icon1.png" alt="Image">
              <h4>SOCIAL MEDIA MARKETING</h4>
              <p>The opportunity for your brand, in terms of awareness and brand equity, is limitless.</p>
              <a href="/services"style="color: blue;">READ MORE</a>
              <span class="expand btn1">EXPAND</span> </div>
            <!-- end inner --> 
          </div>
          <!-- end table --> 
        </div>
        <!-- end box --> 
      </div>
      <!-- end col-4 -->
      <div class="col-md-4 no-padding">
        <div class="box yellow-bg">
          <div class="table">
            <div class="inner"> <img src="images/icon2.png" alt="Image">
              <h4>DIGITAL MARKETING SKILL</h4>
             <p> With digital marketing skill you can be able to; 
              Start a drop shipping business,Be a digital marketer</p>
              <a href="/contact" style="color: blue;">READ MORE</a> 
              <span class="expand btn2">EXPAND</span></div>
            <!-- end inner --> 
          </div>
          <!-- end table --> 
        </div>
        <!-- end box --> 
      </div>
      <!-- end col-4 -->
      <div class="col-md-4 no-padding">
        <div class="box yellow-bg">
          <div class="table">
            <div class="inner"> <img src="images/icon3.png" alt="Image">
              <h4>EMAIL MARKETING</h4>
              <p>Email marketing provides a reliable form of communication between your brand and your customers.</p>
              <a href="/contact"style="color: blue;">READ MORE</a> 
         
              <span class="expand btn3">EXPAND</span> </div>
            <!-- end inner --> 
          </div>
          <!-- end table --> 
        </div>
        <!-- end box --> 
      </div>
      <!-- end col-3 -->
    
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end services -->

<section class="quote" data-stellar-background-ratio="0.5">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-xs-12">
        <div class="content-box">
          <h1>DIGITAL MARKETING SKILL TRAINING</h1>
          <p style="color: white;">
            With digital marketing skill you can be able to;
            <ul>
              <li>Start a drop shipping business</li>
              <li>Be a digital marketer</li>
            <li>Become a freelancer</li>
          <li>Become a content writer</li>
        </ul> </p>                                                                                                                                                                                    
        <p>Nowadays, large scale and small scale companies are investing in digital marketing activities.
         The demand for professionals in this field is high.</p>
<br>
<br>
<br>
<br>
<br>

         <button class="open-button" onclick="openForm()">LEARN MORE </button>

         <div class="form-popup" id="myForm">
           <form action="/action_page.php" class="form-container">
         
             <input type="text" placeholder="Name" name="name" required>
             <br>
         
             <input type="text" placeholder=" Email" name="email" required>
             <br>
         
             <input type="text" placeholder="Phone Number" name="psw" required>
         <br>
         
         <textarea name="message" id="message" placeholder="Your message" required></textarea>
         <br>
             <button type="submit" class="btn">Send Message</button>
             <br>
             <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
           </form>
         </div> 
        <!-- end content-box --> 
      </div>
      <!-- end col-12 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end quote -->


<section class="latest-news">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-xs-12">
        <h3>LATEST <span>NEWS</span></h3>
      </div>
      <!-- end col-12 -->
      <div class="col-md-6">
        <div class="news-box">
          <figure><img src="images/INFO.png" alt="Image"></figure>
          <h4>Importances of Digital Marketing</h4>
         <ul>
           <li>Targets your ideal audience and personalizes you marketing messages to your perfect buyer</li>
            Identifies your target personal habits</li>
            Identifies your target personal purchases</li>
            Understanding your buyers journey</li>
            Easier to measure results</li>
         </ul>
         
          <a href="/blog" class="link">READ MORE</a> </div>
        <!-- end news-box --> 
      </div>
      <!-- end col-6 -->
      <div class="col-md-6">
        <div class="news-box">
          <figure><img src="images/Digital-Marketing-1.png" alt="Image"></figure>
          <h4>Benefits of Digital Marketing</h4>
          <ul>
          <li>Increased exposure of products and services (Global reach)</li> 
          <li> Targets ideal customers</li> 
          <li>Trackable and measurable results</li> 
          <li> Boost in sales</li> 
          <li> Engages customers and audience </li> 
          <li>Improves conversion rates</li> 
          <li> Generation of leads</li> 
          </ul>
          <a href="/blog" class="link">READ MORE</a> </div>
        <!-- end news-box --> 
      </div>
      <!-- end col-6 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end latest-news -->

<section class="contact">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-xs-12">
        <h2>CONTACT</h2>
      </div>
      <!-- end col-12 -->
      <div class="col-md-3">
        <figure><img src="images/icon5.png" alt="Image"></figure>
        <dl>
          <dt>LOCATION</dt>
          <dd> Km 18 Lekki-Epe Expresssway, Lagos, Nigeria</dd>
        </dl>
      </div>
      <!-- end col-3 -->
      <div class="col-md-3">
        <figure><img src="images/icon6.png" alt="Image"></figure>
        <dl>
          <dt>PHONE</dt>
          <dd>0701442282</dd>
         
        </dl>
      </div>
      <!-- end col-3 -->
      <div class="col-md-3">
        <figure><img src="images/icon7.png" alt="Image"></figure>
        <dl>
          <dt>E-MAIL</dt>
          <dd>learningground22@gmail.com</dd>
          
        </dl>
      </div>
      <!-- end col-3 -->
      <div class="col-md-3">
        <figure><img src="images/icon8.png" alt="Image"></figure>
        <dl>
          <dt>Working hours</dt>
          <dd>Mon-Fri 9.00am - 5.00pm
          <dd>Sat 12.00 - 4.00pm</dd>
        </dl>
      </div>
      <!-- end col-3 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end contact -->
<footer>
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-4"> <img src="images/logo.jpeg" alt="Image" class="logo">
       
      </div>
      <!-- end col-4 -->
      <div class="col-md-4">
        <h4>PHOTO GALLERY</h4>
        <ul class="gallery">
          <li>
            <figure><img src="images/INFO.png" alt="Image">
              <figcaption><a href="images/INFO.png" class="fancybox"><i class="ion-android-expand"></i></a></figcaption>
            </figure>
          </li>
          <li>
            <figure><img src="images/Digital-Marketing-1.png" alt="Image">
              <figcaption><a href="images/Digital-Marketing-1.png" class="fancybox"><i class="ion-android-expand"></i></a></figcaption>
            </figure>
          </li>
          <li>
            <figure><img src="images/digital pix 1.png" alt="Image">
              <figcaption><a href="images/digital pix 1.png" class="fancybox"><i class="ion-android-expand"></i></a></figcaption>
            </figure>
          </li>
          <li>
            <figure><img src="images/sales-and-marketing-basics.jpg" alt="Image">
              <figcaption><a href="images/sales-and-marketing-basics.jpg" class="fancybox"><i class="ion-android-expand"></i></a></figcaption>
            </figure>
          </li>
          <li>
            <figure><img src="images/free-digital-marketing-analysis.jpg" alt="Image">
              <figcaption><a href="images/free-digital-marketing-analysis.jpg" class="fancybox"><i class="ion-android-expand"></i></a></figcaption>
            </figure>
          </li>
          <li>
            <figure><img src="images/free-digital-marketing-business-vector-illustration.jpg" alt="Image">
              <figcaption><a href="images/free-digital-marketing-business-vector-illustration.jpg" class="fancybox"><i class="ion-android-expand"></i></a></figcaption>
            </figure>
          </li>
        </ul>
        <!-- end gallery --> 
      </div>
      <!-- end col-4 -->
      <div class="col-md-4">
        <h4>NEWSLETTER</h4>
        <p>You will be among the first to know about hot new software and great deals on stuff to enhance and promote</p>
        <form>
          <input type="text" placeholder="Your e-mail">
          <button type="submit">SUBSCRIBE</button>
        </form>
        <small>* I promise, we won’t spam you!</small> </div>
      <!-- end col-4 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</footer>
<!-- end footer -->
<section class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h6>Copyright © 2015 , DIGITAL LEARNING | Digital Agency</h6>
      </div>
      <!-- end col-6 -->
      <div class="col-md-6">
        <h6 class="pull-right">Created by Themezinho with <i class="ion-heart"></i> in Istanbul</h6>
      </div>
      <!-- end col-6 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end sub-footer --> 

<!-- JS FILES --> 
<script src="js/jquery.min.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script>function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}</script>
<script type="text/javascript">
(function($) {
	$(window).load(function(){
		$(".loading .table .inner").addClass("fade");
		$('.loading').delay(2000).addClass("fade-out");	
	});
})(jQuery)
</script>
<script>function openMyForm() {
  document.getElementById("myFormm").style.display = "block";
}

function closeMyForm() {
  document.getElementById("myFormm").style.display = "none";
}</script>
<script type="text/javascript">
(function($) {
	$(window).load(function(){
		$(".loading .table .inner").addClass("fade");
		$('.loading').delay(2000).addClass("fade-out");	
	});
})(jQuery)
</script>
<script src="js/jquery.form.js"></script> 
<script src="js/jquery.validate.min.js"></script> 
<script src="js/contact-form.js"></script>
<script src="js/waypoints.min.js"></script> 
<script src="js/jquery.counterup.min.js"></script> 
<script src="js/isotope.min.js"></script> 
<script src="js/masonry.js"></script> 
<script src="js/wow.js"></script> 
<script src="js/owl.carousel.js"></script> <script src="js/jquery.stellar.js"></script> 
<script src="js/jquery.fancybox.js?v=2.1.5" type="text/javascript"></script> 
<script src='js/jquery.themepunch.tools.min.js' type='text/javascript' ></script> 
<script src='js/jquery.themepunch.revolution.min.js' type='text/javascript' ></script> 
<script src='js/settings.js' type='text/javascript' ></script> 
<script src='js/scripts.js' type='text/javascript' ></script>
</body>
</html>