<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>DIGITAL LEARNING | Digital Agency</title>

<meta name="author" content="Themezinho">
<meta name="description" content="DIGITAL LEARNING | Digital Agency HTML Template">
<meta name="keywords" content="html, template, carousel, theme, themezinho, agency, html5">

<!-- SOCIAL MEDIA META -->
<meta property="og:description" content="DIGITAL LEARNING | Digital Agency">
<meta property="og:image" content="http://www.themezinho.net/DIGITAL LEARNING/preview.png">
<meta property="og:site_name" content="DIGITAL LEARNING">
<meta property="og:title" content="DIGITAL LEARNING">
<meta property="og:type" content="website">
<meta property="og:url" content="http://www.themezinho.net/DIGITAL LEARNING">

<!-- TWITTER META -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@DIGITAL LEARNING">
<meta name="twitter:creator" content="@DIGITAL LEARNING">
<meta name="twitter:title" content="DIGITAL LEARNING">
<meta name="twitter:description" content="DIGITAL LEARNING | Digital Agency">
<meta name="twitter:image" content="http://www.themezinho.net/DIGITAL LEARNING/preview.png">

<!-- FAVICON FILES -->
<link href="ico/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon-precomposed" sizes="144x144">
<link href="ico/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon-precomposed" sizes="114x114">
<link href="ico/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon-precomposed" sizes="72x72">
<link href="ico/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon-precomposed">
<link href="ico/favicon.png" rel="shortcut icon">

<!-- CSS FILES -->
<link href="css/animate.css" rel="stylesheet">
<link href="css/owl.carousel.css" rel="stylesheet">
<link href="css/jquery.fancybox.css?v=2.1.5" media="screen" rel="stylesheet" type="text/css" />
<link href="css/settings.css" rel="stylesheet">
<link href="css/ionicons.css" rel="stylesheet">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="loading yellow-bg">
  <div class="table">
    <div class="inner"> <img src="images/logo.jpeg" alt="Image">
      <div class="clearfix"></div>
      <div class="spinner"></div>
    </div>
    <!-- end inner --> 
  </div>
  <!-- end table --> 
</div>
<!-- end loading -->
<div class="transition-overlay yellow-bg"></div>
<!-- end transition-overlay -->
<div class="side-menu"> <span class="side-menu-close"><i class="ion-android-close"></i></span>
  <form id="contact" name="contact" method="post">
    <input type="text" name="name" id="name" placeholder="NAME" required>
    <input type="text" name="email" id="email" placeholder="E-MAIL ADDRESS" required>
    <input type="text" name="subject" id="subject" placeholder="SUBJECT" required>
    <textarea name="message" id="message" placeholder="YOUR MESSAGE" required></textarea>
    <button id="submit" type="submit" name="submit">SEND MESSAGE</button>
  </form>
   <div id="success" class="alert alert-success" role="alert">
          <p>Your message was sent successfully! We will be in touch as soon as we can.</p>
        </div>
        <!-- end success -->
        <div id="error" class="alert alert-danger" role="alert">
          <p>Something went wrong, try refreshing and submitting the form again.</p>
        </div>
        <!-- end error -->
  <ul>
    <li class="facebook"><a href="#"><i class="ion-social-facebook"></i></a></li>
    <li class="twitter"><a href="#"><i class="ion-social-twitter"></i></a></li>
    <li class="googleplus"><a href="#"><i class="ion-social-googleplus"></i></a></li>
    <li class="instagram"><a href="#"><i class="ion-social-instagram"></i></a></li>
    <li class="pinterest"><a href="#"><i class="ion-social-pinterest"></i></a></li>
    <li class="youtube"><a href="#"><i class="ion-social-youtube"></i></a></li>
  </ul>
</div>
<header class="yellow-bg int-header">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="nav">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle toggle-menu menu-left push-body" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand" href="#"><img src="images/logo.jpeg" alt="Image"></a> </div>
      <div class="collapse navbar-collapse cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/" class="transition">HOME</a></li>
          <li><a href="/about" class="transition">ABOUT US</a></li>
          <li><a href="/services" class="transition">SERVICES</a></li>
         <!--<li><a href="/works" class="transition">WORKS</a></li>-->
            
          <li> <a href="/blog" class="transition">BLOG</a></li>
          <li><a href="/contact" class="transition">CONTACT</a></li>
          <li><a href="#" class="hamburger-menu"><i class="ion-navicon"></i></a></li>
        </ul>
      </div>
      <!-- end navbar-collapse --> 
    </div>
    <!-- end container --> 
  </nav>
  <!-- end nav -->
  <div class="container">
    	<div class="row">
        	<div class="col-xs-12">
            	<h2 class="title">SERVICES</h2>
                <h5 class="sub-title">Explore The Digital Space</h5>
            </div>
        </div>
    </div>
</header>
<section class="services">
  <div class="container">
    <div class="row wow fadeInUp">
      <div class="col-md-3 col-sm-6 col-xs-12 no-padding">
        <div class="box yellow-bg">
          <div class="table">
            <div class="inner"> <img src="images/icon1.png" alt="Image">
              <h4>RETARGETING ADS</h4>
             <p>Retargeting is also known as remarketing.
                <br> It is a form of online advertising that can help you keep your brand in front of bounced traffic after they leave your website.</p> 
  <ul class="list1">
                  <li><i class="ion-checkmark-circled"></i> It is designed to help companies reach the 98% of users who don't convert right away.</li>
                  <li><i class="ion-checkmark-circled"></i> Retargeting is so effective because it focuses your advertising spend on people who are already familiar with your brand and have recently demonstrated interest. </p>
                    </li> 
                  
                   
                </ul>
              <span class="expand btn1">EXPAND</span> </div>
            <!-- end inner --> 
          </div>
          <!-- end table --> 
        </div>
        <!-- end box --> 
      </div>
      <!-- end col-3 -->
      <div class="col-md-3 col-sm-6 col-xs-12 no-padding">
        <div class="box yellow-bg">
          <div class="table">
            <div class="inner"> <img src="images/icon2.png" alt="Image">
              <h4>WEB DESIGN AND DEVELOPMENT</h4>
             
 <p>If only given 15 minutes to consume content, 66 percent of people would prefer to see something beautifully designed versus something plain and simple.</p>
 <ul class="list2">
               <li><i class="ion-checkmark-circled"></i>  Your website’s design is an important part of your online marketing presence.</li>
                <li><i class="ion-checkmark-circled"></i>  To build a better website for your business, you must understand the importance of web design.</li>
                <li><i class="ion-checkmark-circled"></i>   When your audience visits your website, it gives them their first impression of your business.</li>
                <li><i class="ion-checkmark-circled"></i>  They will judge your business within seconds. In these first few seconds, you want to make a positive impact on your audience.</li>
                <li><i class="ion-checkmark-circled"></i> If your website looks unappealing or outdated, your audience will immediately have a negative impression of your business.</li>
                <li><i class="ion-checkmark-circled"></i> They won’t find your website appealing, which deters them from your page.</li>
                <li><i class="ion-checkmark-circled"></i> You’ll miss out on leads because they’ll leave your page for a competitor’s page.</li>
                <li><i class="ion-checkmark-circled"></i>Web design is important because it impacts how your audience perceives your brand. </li> 
              </ul>
              <span class="expand btn2">EXPAND</span></div>
            <!-- end inner --> 
          </div>
          <!-- end table --> 
        </div>
        <!-- end box --> 
      </div>
      <!-- end col-3 -->
      <div class="col-md-3 col-sm-6 col-xs-12 no-padding">
        <div class="box yellow-bg">
          <div class="table">
            <div class="inner"> <img src="images/icon3.png" alt="Image">
              <h4>SOCIAL MEDIA MARKETING</h4>
              <p> The opportunity for your brand, in terms of awareness and brand equity, is limitless.
                The digital world has provided us with a myriad of options to explore with the aim of achieving overall organizational goals.</p>
         <ul class="list3">
                <li><i class="ion-checkmark-circled"></i> Search Engine Optimization is one of the strategies that will help you ace the competition.</li>
                  <li><i class="ion-checkmark-circled"></i>SEO refers to the ability of a website to gain quantitative and qualitative website visits through organic search engine results.</li> 
                 <li><i class="ion-checkmark-circled"></i>Search Engine Optimization ensures that your product is easily found by search engine sites through regular and organic search.</li> 
                 <li><i class="ion-checkmark-circled"></i>Once you remain at the top of the ranking, Internet users will be able to see you more.</li>
                 <li><i class="ion-checkmark-circled"></i>This leads to a higher tendency for your link to be clicked, which leads the users to your website.</li>
                  <li><i class="ion-checkmark-circled"></i> One of the benefits of SEO for your business is establishing your brand’s awareness even further.</li> 
                  <li><i class="ion-checkmark-circled"></i> SEO Creates Synergy of All Marketing Activities Online, Helps You Gain Market Share, Builds Brand Credibility and Promotes Better Cost Management.</li>
            
              </ul>
              <span class="expand btn3">EXPAND</span> </div>
            <!-- end inner --> 
          </div>
          <!-- end table --> 
        </div>
        <!-- end box --> 
      </div>
      <!-- end col-3 -->
      <div class="col-md-3 col-sm-6 col-xs-12 no-padding">
        <div class="box yellow-bg">
          <div class="table">
            <div class="inner"> <img src="images/icon4.png" alt="Image">
              <h4>ADVERTISING</h4>
              <p>To improve your social media marketing, an area that you can consider is social media advertising. 
                <br> Social media ads allow you to reach a wider audience than those who are following you.</p>
              <ul class="list4">
                <li><i class="ion-checkmark-circled"></i>
                   Social media advertising platforms are so powerful nowadays that you can specify exactly who to display your ads to.</li>
                <li><i class="ion-checkmark-circled"></i>
                   You can create target audiences based on their demographics, interests, behaviors, and more.</li>
                <li><i class="ion-checkmark-circled"></i>
                  When you are running many social media advertising campaigns at once, you can consider using a social media advertising tool to make bulk changes, automate processes, and optimize your ads.</li>
              </ul>
              <span class="expand btn4">EXPAND</span> </div>
            <!-- end inner --> 
          </div>
          <!-- end table --> 
        </div>
        <!-- end box --> 
      </div>
      <!-- end col-3 --> 
    </div>
    <!-- end row --> 
    <div class="row wow fadeInUp">
      <div class="col-md-3 col-sm-6 col-xs-12 no-padding">
        <div class="box yellow-bg">
          <div class="table">
            <div class="inner"> <img src="images/icon9.png" alt="Image">
              <h4>MARKETING AUTOMATION</h4>
              <br> <br> <br>
            <p>By automating your cross-sells, up-sells, and customer follow-ups you’ll likely notice an increase in your customer lifetime value.</p>
              <ul class="list5">
                <li><i class="ion-checkmark-circled"></i>  Most marketing automation tools allow you to manage all of your social media campaigns from within one dashboard, and post to multiple accounts in one go. </li>
                <li><i class="ion-checkmark-circled"></i>  Using marketing automation software, one employee can compete with a 50-person marketing and sales department.</li>
                <li><i class="ion-checkmark-circled"></i>  How? By setting up lead nurturing and marketing campaigns that are automatically triggered based on certain criteria.</li>
                <li><i class="ion-checkmark-circled"></i>    No matter how large or small your team, you have a finite amount of resources to grow your business.</li>
                <li><i class="ion-checkmark-circled"></i>  Marketing automation enables you to squeeze more juice out of the hours available to you.</li>
               
            </ul>
              <span class="expand btn5">EXPAND</span> </div>
            <!-- end inner --> 
          </div>
          <!-- end table --> 
        </div>
        <!-- end box --> 
      </div>
      <!-- end col-3 -->
      <div class="col-md-3 col-sm-6 col-xs-12 no-padding">
        <div class="box yellow-bg">
          <div class="table">
            <div class="inner"> <img src="images/icon10.png" alt="Image">
              <h4>SEARCH ENGINE OPTIMIZATION</h4>
            <p> The opportunity for your brand, in terms of awareness and brand equity, is limitless.
               The digital world has provided us with a myriad of options to explore with the aim of achieving overall organizational goals.</p>
              <ul class="list6">
                
                <li><i class="ion-checkmark-circled"></i> Search Engine Optimization is one of the strategies that will help you ace the competition.</li>
                <li><i class="ion-checkmark-circled"></i>  SEO refers to the ability of a website to gain quantitative and qualitative website visits through organic search engine results.</li>
                <li><i class="ion-checkmark-circled"></i> Search Engine Optimization ensures that your product is easily found by search engine sites through regular and organic search.</li>
                <li><i class="ion-checkmark-circled"></i>  Once you remain at the top of the ranking, Internet users will be able to see you more. This leads to a higher tendency for your link to be clicked, which leads the users to your website.</li>
                <li><i class="ion-checkmark-circled"></i> One of the benefits of SEO for your business is establishing your brand’s awareness even further.</li>
               <li><i class="ion-checkmark-circled"></i> SEO Creates Synergy of All Marketing Activities Online, Helps You Gain Market Share, Builds Brand Credibility and Promotes Better Cost Management.</li>

           </ul>
              <span class="expand btn6">EXPAND</span></div>
            <!-- end inner --> 
          </div>
          <!-- end table --> 
        </div>
        <!-- end box --> 
      </div>
      <!-- end col-3 -->
      <div class="col-md-3 col-sm-6 col-xs-12 no-padding">
        <div class="box yellow-bg">
          <div class="table">
            <div class="inner"> <img src="images/icon11.png" alt="Image">
              <h4>PAY PER CLICK</h4>
              <br> <br> <br>
        <p> Paid search is a viable Internet marketing strategy offering business a great flexibility and control in their advertising campaigns.</p>
              <ul class="list7">
                <li><i class="ion-checkmark-circled"></i> It can be implemented as a temporary, seasonal or long-term strategy and monthly budgets can be closely monitored and controlled.</li>
                <li><i class="ion-checkmark-circled"></i>It is about ensuring that through your Search Engine Marketing efforts you will deliver to the right person, the right message and the right experience at the right time.</li>
                <li><i class="ion-checkmark-circled"></i> PPC advertising will deliver immediate results. In fact, the minute your campaign is approved your ads can be viewed by millions of web users</li>
                <li><i class="ion-checkmark-circled"></i>    The capacity to launch a campaign quickly and ensuring it reaches your market instantly makes PPC ideal for product launches, seasonal promotions and event-focused marketing.</li>
      
              
              </ul>
              <span class="expand btn7">EXPAND</span> </div>
            <!-- end inner --> 
          </div>
          <!-- end table --> 
        </div>
        <!-- end box --> 
      </div>
      <!-- end col-3 -->
      <div class="col-md-3 col-sm-6 col-xs-12 no-padding">
        <div class="box yellow-bg">
          <div class="table">
            <div class="inner"> <img src="images/icon12.png" alt="Image">
              <h4>ONLINE PR</h4> <br>
           <p> The aim is to create public awareness for your business, brands, products or services by getting favourable mentions and links on third party websites like news sites, blogs, feeds, social networks and more.</p>
              <ul class="list8">
                <li><i class="ion-checkmark-circled"></i> It differs from online advertising in many ways and one of the main ones is that there are no costs associated with a placement on a third party site. </li>
                <li><i class="ion-checkmark-circled"></i>These sites are often looking for news-worthy stories in the business world and if yours is compelling and a good fit for their audiences then you could benefit immensely.</li>
                <li><i class="ion-checkmark-circled"></i> Online PR can be very cost effective because there are no costs incurred in placements in online media. </li>
                <li><i class="ion-checkmark-circled"></i> The only costs to the business are agency or internal staff to create the messages and send them to the relevant online media like news sites.t</li>
                <li><i class="ion-checkmark-circled"></i> Online PR has a wide reach compared to other online channels and it’s possible to reach people who are not aware of the brand but could benefit from it.</li>
  
              </ul>
              <span class="expand btn8">EXPAND</span> </div>
            <!-- end inner --> 
          </div>
          <!-- end table --> 
        </div>
        <!-- end box --> 
      </div>
      <!-- end col-3 --> 
    </div>
    <!-- end row -->

    <div class="row wow fadeInUp">
      <div class="col-md-3 col-sm-6 col-xs-12 no-padding">
        <div class="box yellow-bg">
          <div class="table">
            <div class="inner"> <img src="images/icon9.png" alt="Image">
              <h4>CONTENT MARKETING</h4> <br>
              <p> Content marketing helps to improve conversions because it allows you to connect with and educate your leads and customers.</p>
          
              <ul class="list9">
                <li><i class="ion-checkmark-circled"></i>  Not only are you working to build trust and relationships, but you are also encouraging conversions by giving consumers the information they need to make an educated purchasing decision. </li>
                <li><i class="ion-checkmark-circled"></i>  Content marketing costs about 62% less than traditional marketing tactics, it generates about 3 times as many leads.</li>
                <li><i class="ion-checkmark-circled"></i>The affordability of content marketing makes it a necessary tactic for small businesses that want to maximize their budget. </li>
                <li><i class="ion-checkmark-circled"></i>  Content marketing allows your brand to demonstrate its expertise in the field while providing valuable knowledge that can help readers make a more educated purchasing decision</li>
              
              </ul>
              <span class="expand btn9">EXPAND</span> </div>
            <!-- end inner --> 
          </div>
          <!-- end table --> 
        </div>
        <!-- end box --> 
      </div>
      <!-- end col-3 -->
      <div class="col-md-3 col-sm-6 col-xs-12 no-padding">
        <div class="box yellow-bg">
          <div class="table">
            <div class="inner"> <img src="images/icon10.png" alt="Image">
              <h4>SEARCH ENGINE MARKETING</h4>
              <p>SEM is a very effective way for businesses to reach specific customers based on their search intentions.</p>
              
           
              <ul class="list10">
                <li><i class="ion-checkmark-circled"></i> You can make your ads appear only to consumers who are searching using keywords closely related to your products or services.</li>
                <li><i class="ion-checkmark-circled"></i>Choosing the right keywords for which your ads are triggered to appear helps you create highly optimized ads. 
                </li>
                <li><i class="ion-checkmark-circled"></i> SEM gives you the option to target people based on their location.</li>
                <li><i class="ion-checkmark-circled"></i> You can create ads in different languages and decide where you want them to appear;
               you can specify the country, the city and even a specific region anywhere in the world.</li>
        
              </ul>
              <span class="expand btn10">EXPAND</span></div>
            <!-- end inner --> 
          </div>
          <!-- end table --> 
        </div>
        <!-- end box --> 
      </div>
      <!-- end col-3 -->
      <div class="col-md-3 col-sm-6 col-xs-12 no-padding">
        <div class="box yellow-bg">
          <div class="table">
            <div class="inner"> <img src="images/icon11.png" alt="Image">
              <h4>EMAIL MARKETING</h4> <br> <br>
              <p>Email marketing provides a reliable form of communication between your brand and your customers.</p>
           
              <ul class="list11">
                <li><i class="ion-checkmark-circled"></i> It’s a cost-effective solution to reach customers where they visit every day — their inbox.</li>
                <li><i class="ion-checkmark-circled"></i> Email marketing allows you to keep in touch with your customers on a consistent basis.</li>
                <li><i class="ion-checkmark-circled"></i>Be it a simple, “Thank you for subscribing,” a cheery, “Welcome on board,” or a sincere “Happy Birthday,” email is the easiest and most effective way to let your customers know you value them.</li>
                <li><i class="ion-checkmark-circled"></i>Customers love it when a business treats them as an individual, not just like everyone else.</li>
                <li><i class="ion-checkmark-circled"></i> That value should show in the emails you send, and the more value you provide to your target audience, the more they’ll look forward to hearing from you. When that happens, it’s easier to get them to engage with your call-to-action.  </li>
                <li><i class="ion-checkmark-circled"></i>Email marketing allows you to segment your customers into different lists based on their preferences to send highly personalized content.</li>
                <li><i class="ion-checkmark-circled"></i> From crafting the perfect subject line to images that resonate with your customer, and valuable content that helps your audience, email is the perfect channel to drive engagement.</li>
              </ul>
              <span class="expand btn11">EXPAND</span> </div>
            <!-- end inner --> 
          </div>
          <!-- end table --> 
        </div>
        <!-- end box --> 
      </div>
      <!-- end col-3 -->
      <div class="col-md-3 col-sm-6 col-xs-12 no-padding">
        <div class="box yellow-bg">
          <div class="table">
            <div class="inner"> <img src="images/icon12.png" alt="Image">
              <h4>COST PER ACTION</h4> <br>
              <p>Cost per action gives advertisers the advantage of highly targeted advertising and they only have to pay for actually accomplished services.
              </p>
              
              <ul class="list12">
                <li><i class="ion-checkmark-circled"></i> Customers reached with CPA campaigns usually have a higher involvement than contacts acquired by clicks only. </li>
                <li><i class="ion-checkmark-circled"></i>  Cost per action allows advertisers to control advertising costs for specific marketing objectives, as it is designed to only charge for the ad when a chosen action is completed.</li>
                <li><i class="ion-checkmark-circled"></i>  With the payment for the ads being based on completed actions, it also gives the advertiser better control of tracking and maximizing the return on investment across different marketing channels.</li>
                <li><i class="ion-checkmark-circled"></i> Tracking CPA ensures that you’re investing in the most cost-effective channels as well as helping to gauge the success of various marketing efforts.</li>
                
              </ul>
              <span class="expand btn12">EXPAND</span> </div>
            <!-- end inner --> 
          </div>
          <!-- end table --> 
        </div>
        <!-- end box --> 
      </div>
      <!-- end col-3 --> 
    </div>
    <!-- end row -->

    <div class="row wow fadeInUp">
      <div class="col-md-3 col-sm-6 col-xs-12 no-padding">
        <div class="box yellow-bg">
          <div class="table">
            <div class="inner"> <img src="images/icon9.png" alt="Image">
              <h4>CONVERSION RATE OPTIMIZATION</h4>
              <p> Your conversion rate is the percentage of time that consumers convert on your offer.</p>
              <ul class="list13">
              <li><i class="ion-checkmark-circled"></i> The more you dive into conversion rate optimization, the more you’ll learn about your customers.</li>
              <li><i class="ion-checkmark-circled"></i>  What do they want? What do they need? Why do they visit your site? When you test various aspects of your website’s functionality, users will lend their “vote.” </li> 
              <li><i class="ion-checkmark-circled"></i>  From the results, you can deduce what makes your target audience tick.</li>
              <li><i class="ion-checkmark-circled"></i> Benefits of CRO includes getting to know your customers, boost website revenue, leverage existing web traffic, increase customers lifetime value and helps makes decisions based on proven data.</li>
             
               </ul>
              <span class="expand btn13">EXPAND</span> </div>
            <!-- end inner --> 
          </div>
          <!-- end table --> 
        </div>
        <!-- end box --> 
      </div>
      <!-- end col-3 -->
      <div class="col-md-3 col-sm-6 col-xs-12 no-padding">
        <div class="box yellow-bg">
          <div class="table">
            <div class="inner"> <img src="images/icon10.png" alt="Image">
              <h4>AFFILIATE MARKETING</h4> <br>
              <p> The main advantage of having an affiliate program is that it is entirely performance-based.</p>
        
              <ul class="list14">
                <li><i class="ion-checkmark-circled"></i> Because affiliates are only paid a commission once the desired action has taken place, they’re more motivated to drive the conversion you’re looking for.</li>
                <li><i class="ion-checkmark-circled"></i>This mitigates any efforts that drive traffic with little to no value to your company while also ensuring that you get what you pay for.</li>
                <li><i class="ion-checkmark-circled"></i> These partnerships grant the opportunity to expand out into new markets that you might not otherwise have had the bandwidth to explore or to further saturate your existing target markets, giving your brand a much stronger online presence.</li> 
                <li><i class="ion-checkmark-circled"></i> By partnering with trusted bloggers and reputable websites, you can further the reputation of your brand and its products. </li>
                <li><i class="ion-checkmark-circled"></i> These partners will champion your products and, in our opinion, will further solidify consumer confidence in your product or service.</li>                   
                <li><i class="ion-checkmark-circled"></i> While in the research phase of a purchase, consumers are more likely to trust a 3rd party’s opinion over content produced directly from the site selling this product.</li>
                <li><i class="ion-checkmark-circled"></i> Consumers also have a certain level of trust in websites they frequent for product recommendations.
            
              </ul>
              <span class="expand btn14">EXPAND</span></div>
            <!-- end inner --> 
          </div>
          <!-- end table --> 
        </div>
        <!-- end box --> 
      </div>
      <!-- end col-3 -->
      <div class="col-md-3 col-sm-6 col-xs-12 no-padding">
        <div class="box yellow-bg">
          <div class="table">
            <div class="inner"> <img src="images/icon11.png" alt="Image">
              <h4>INBOUND MARKETING</h4>
              <p> Inbound marketing is a highly-strategic methodology designed to educate and nurture prospects through their sales journey.</p>
           
              <ul class="list15">
                <li><i class="ion-checkmark-circled"></i>   With inbound marketing, your sales and marketing teams join forces to create powerful content for prospects. </li>
                <li><i class="ion-checkmark-circled"></i>Sales people are the source for key insights into what the customers need and want at different stages of their buying journey.</li>
                
              </ul>
              <span class="expand btn15">EXPAND</span> </div>
            <!-- end inner --> 
          </div>
          <!-- end table --> 
        </div>
        <!-- end box --> 
      </div>
      <!-- end col-3 -->
      <div class="col-md-3 col-sm-6 col-xs-12 no-padding">
        <div class="box yellow-bg">
          <div class="table">
            <div class="inner"> <img src="images/icon12.png" alt="Image">
              <h4>ONGOING SEO</h4>
       
              <p>If you are serious about search engine optimization for your business's website then ongoing SEO is the only way to go. </p>
              
              <ul class="list16">
                <li><i class="ion-checkmark-circled"></i> In order to remain competitive in the world of online marketing, ongoing SEO is vital. </li>
                <li><i class="ion-checkmark-circled"></i> Ongoing SEO analyzes the result of the services initially provided to make sure they are working. </li>
  
               
              </ul>
              <span class="expand btn16">EXPAND</span> </div>
            <!-- end inner --> 
          </div>
          <!-- end table --> 
        </div>
        <!-- end box --> 
      </div>
      <!-- end col-3 --> 
    </div>
    <!-- end row -->
  </div>
  <!-- end container --> 
</section>
<!-- end services -->
<section class="quote" data-stellar-background-ratio="0.5">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-xs-12">
        <div class="content-box">
          <h1>DIGITAL MARKETING SKILL TRAINING</h1>
          <p style="color: white;">
            With digital marketing skill you can be able to;
            <ul>
              <li>Start a drop shipping business</li>
              <li>Be a digital marketer</li>
            <li>Become a freelancer</li>
          <li>Become a content writer</li>
        </ul> </p>                                                                                                                                                                                    
        <p>Nowadays, large scale and small scale companies are investing in digital marketing activities.
         The demand for professionals in this field is high.</p>
         <button class="open-button" onclick="openForm()">LEARN MORE  ></button>
         <br>
         <br>
         <br>
         <br>
         <br>
         <div class="form-popup" id="myForm">
           <form action="/action_page.php" class="form-container">
             
             <input type="text" placeholder="Name" name="name" required>
             <br>
        
             <input type="text" placeholder=" Email" name="email" required>
             <br>
         
      
             <input type="text" placeholder="Phone Number" name="psw" required>
         <br>
         <textarea name="message" id="message" placeholder="Your message" required></textarea>
         <br>
             <button type="submit" class="btn">Send Message</button>
             <br>
             <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
           </form>
         </div> </div>
        <!-- end content-box --> 
      </div>
      <!-- end col-12 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end quote -->
<section class="contact">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-xs-12">
        <h2>CONTACT</h2>
      </div>
      <!-- end col-12 -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <figure><img src="images/icon5.png" alt="Image"></figure>
        <dl>
          <dt>LOCATION</dt>
          <dd>Km 18 Lekki-Epe Expresssway, Lagos, Nigeria</dd>
        </dl>
      </div>
      <!-- end col-3 -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <figure><img src="images/icon6.png" alt="Image"></figure>
        <dl>
          <dt>PHONE</dt>
          <dd>0701442282</dd>
         
        </dl>
      </div>
      <!-- end col-3 -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <figure><img src="images/icon7.png" alt="Image"></figure>
        <dl>
          <dt>E-MAIL</dt>
          <dd>learningground22@gmail.com</dd>
         
        </dl>
      </div>
      <!-- end col-3 -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <figure><img src="images/icon8.png" alt="Image"></figure>
        <dl>
          <dt>Working hours</dt>
          <dd>Mon-Fri 9.00am - 5.00pm
          <dd>Sat 12.00 - 4.00pm</dd>
        </dl>
      </div>
      <!-- end col-3 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end contact -->
<footer>
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-4 col-sm-6"> <img src="images/logo.jpeg" alt="Image" class="logo">
       
      </div>
      <!-- end col-4 -->
      <div class="col-md-4 col-sm-6">
        <h4>PHOTO GALLERY</h4>
        <ul class="gallery">
          <li>
            <figure><img src="images/INFO.png" alt="Image">
              <figcaption><a href="images/INFO.png" class="fancybox"><i class="ion-android-expand"></i></a></figcaption>
            </figure>
          </li>
          <li>
            <figure><img src="images/Digital-Marketing-1.png" alt="Image">
              <figcaption><a href="images/Digital-Marketing-1.png" class="fancybox"><i class="ion-android-expand"></i></a></figcaption>
            </figure>
          </li>
          <li>
            <figure><img src="images/digital pix 1.png" alt="Image">
              <figcaption><a href="images/digital pix 1.png" class="fancybox"><i class="ion-android-expand"></i></a></figcaption>
            </figure>
          </li>
          <li>
            <figure><img src="images/sales-and-marketing-basics.jpg" alt="Image">
              <figcaption><a href="images/sales-and-marketing-basics.jpg" class="fancybox"><i class="ion-android-expand"></i></a></figcaption>
            </figure>
          </li>
          <li>
            <figure><img src="images/free-digital-marketing-analysis.jpg" alt="Image">
              <figcaption><a href="images/free-digital-marketing-analysis.jpg" class="fancybox"><i class="ion-android-expand"></i></a></figcaption>
            </figure>
          </li>
          <li>
            <figure><img src="images/free-digital-marketing-business-vector-illustration.jpg" alt="Image">
              <figcaption><a href="images/free-digital-marketing-business-vector-illustration.jpg" class="fancybox"><i class="ion-android-expand"></i></a></figcaption>
            </figure>
          </li>
        </ul>
        <!-- end gallery --> 
      </div>
      <!-- end col-4 -->
      <div class="col-md-4 col-sm-12">
        <h4>NEWSLETTER</h4>
        <p>You will be among the first to know about hot new software and great deals on stuff to enhance and promote</p>
        <form>
          <input type="text" placeholder="Your e-mail">
          <button type="submit">SUBSCRIBE</button>
        </form>
        <small>* I promise, we won’t spam you!</small> </div>
      <!-- end col-4 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</footer>
<!-- end footer -->
<section class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h6>Copyright © 2015 , DIGITAL LEARNING | Digital Agency</h6>
      </div>
      <!-- end col-6 -->
      <div class="col-md-6">
        <h6 class="pull-right">Created by Themezinho with <i class="ion-heart"></i> in Istanbul</h6>
      </div>
      <!-- end col-6 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end sub-footer --> 

<!-- JS FILES --> 
<script src="js/jquery.min.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script>function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}</script>
<script type="text/javascript">
(function($) {
	$(window).load(function(){
		$(".loading .table .inner").addClass("fade");
		$('.loading').delay(2000).addClass("fade-out");	
	});
})(jQuery)
</script>
<script type="text/javascript">
(function($) {
	$(window).load(function(){
		$(".loading .table .inner").addClass("fade");
		$('.loading').delay(2000).addClass("fade-out");	
	});
})(jQuery)
</script> 
<script src="js/jquery.form.js"></script> 
<script src="js/jquery.validate.min.js"></script> 
<script src="js/contact-form.js"></script>
<script src="js/waypoints.min.js"></script> 
<script src="js/jquery.counterup.min.js"></script> 
<script src="js/isotope.min.js"></script> 
<script src="js/masonry.js"></script> 
<script src="js/wow.js"></script> 
<script src="js/owl.carousel.js"></script> 
<script src="js/jquery.stellar.js"></script>
<script src="js/jquery.fancybox.js?v=2.1.5" type="text/javascript"></script> 
<script src='js/jquery.themepunch.tools.min.js' type='text/javascript' ></script> 
<script src='js/jquery.themepunch.revolution.min.js' type='text/javascript' ></script> 
<script src='js/settings.js' type='text/javascript' ></script> 
<script src='js/scripts.js' type='text/javascript' ></script>
</body>
</html>