<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>SREATIVE | Digital Agency</title>
<meta name="author" content="Themezinho">
<meta name="description" content="SREATIVE | Digital Agency HTML Template">
<meta name="keywords" content="html, template, carousel, theme, themezinho, agency, html5">

<!-- SOCIAL MEDIA META -->
<meta property="og:description" content="SREATIVE | Digital Agency">
<meta property="og:image" content="http://www.themezinho.net/sreative/preview.png">
<meta property="og:site_name" content="SREATIVE">
<meta property="og:title" content="SREATIVE">
<meta property="og:type" content="website">
<meta property="og:url" content="http://www.themezinho.net/sreative">

<!-- TWITTER META -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@SREATIVE">
<meta name="twitter:creator" content="@SREATIVE">
<meta name="twitter:title" content="SREATIVE">
<meta name="twitter:description" content="SREATIVE | Digital Agency">
<meta name="twitter:image" content="http://www.themezinho.net/sreative/preview.png">

<!-- FAVICON FILES -->
<link href="ico/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon-precomposed" sizes="144x144">
<link href="ico/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon-precomposed" sizes="114x114">
<link href="ico/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon-precomposed" sizes="72x72">
<link href="ico/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon-precomposed">
<link href="ico/favicon.png" rel="shortcut icon">
<link href="ico/favicon.png" rel="shortcut icon">

<!-- CSS FILES -->
<link href="css/animate.css" rel="stylesheet">
<link href="css/owl.carousel.css" rel="stylesheet">
<link href="css/jquery.fancybox.css?v=2.1.5" media="screen" rel="stylesheet" type="text/css" />
<link href="css/settings.css" rel="stylesheet">
<link href="css/ionicons.css" rel="stylesheet">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="loading yellow-bg">
  <div class="table">
    <div class="inner"> <img src="images/logo-light.png" alt="Image">
      <div class="clearfix"></div>
      <div class="spinner"></div>
    </div>
    <!-- end inner --> 
  </div>
  <!-- end table --> 
</div>
<!-- end loading -->
<div class="transition-overlay yellow-bg"></div>
<!-- end transition-overlay -->
<div class="side-menu"> <span class="side-menu-close"><i class="ion-android-close"></i></span>
  <h4>QUICK CONTACT</h4>
  <form id="contact" name="contact" method="post">
    <input type="text" name="name" id="name" placeholder="NAME" required>
    <input type="text" name="email" id="email" placeholder="E-MAIL ADDRESS" required>
    <input type="text" name="subject" id="subject" placeholder="SUBJECT" required>
    <textarea name="message" id="message" placeholder="YOUR MESSAGE" required></textarea>
    <button id="submit" type="submit" name="submit">SEND MESSAGE</button>
  </form>
   <div id="success" class="alert alert-success" role="alert">
          <p>Your message was sent successfully! We will be in touch as soon as we can.</p>
        </div>
        <!-- end success -->
        <div id="error" class="alert alert-danger" role="alert">
          <p>Something went wrong, try refreshing and submitting the form again.</p>
        </div>
        <!-- end error -->
  <ul>
    <li class="facebook"><a href="#"><i class="ion-social-facebook"></i></a></li>
    <li class="twitter"><a href="#"><i class="ion-social-twitter"></i></a></li>
    <li class="googleplus"><a href="#"><i class="ion-social-googleplus"></i></a></li>
    <li class="instagram"><a href="#"><i class="ion-social-instagram"></i></a></li>
    <li class="pinterest"><a href="#"><i class="ion-social-pinterest"></i></a></li>
    <li class="youtube"><a href="#"><i class="ion-social-youtube"></i></a></li>
  </ul>
</div>
<header class="yellow-bg int-header">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="nav">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle toggle-menu menu-left push-body" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand" href="#"><img src="images/logo-light.png" alt="Image"></a> </div>
      <div class="collapse navbar-collapse cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="index.html" class="transition">HOME</a></li>
          <li><a href="about-us.html" class="transition">ABOUT US</a></li>
          <li><a href="services.html" class="transition">SERVICES</a></li>
          <li class="dropdown"> <a href="#">WORKS</a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="works-masonry.html" class="transition">MASONRY GRID</a></li>
              <li><a href="works-nonspaced.html" class="transition">NON-SPACED GRID</a></li>
              <li><a href="works-spaced.html" class="transition">SPACED GRID</a></li>
            </ul>
          </li>
          <li class="dropdown"> <a href="#">BLOG</a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="blog.html" class="transition">WITH SIDEBAR</a></li>
              <li><a href="blog-no-sidebar.html" class="transition">WITHOUT SIDEBAR</a></li>
            </ul>
          </li>
          <li><a href="contact.html" class="transition">CONTACT</a></li>
          <li><a href="#" class="hamburger-menu"><i class="ion-navicon"></i></a></li>
        </ul>
      </div>
      <!-- end navbar-collapse --> 
    </div>
    <!-- end container --> 
  </nav>
  <!-- end nav -->
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="title">WORKS</h2>
        <h5 class="sub-title">Your masonry grids showcase</h5>
      </div>
    </div>
  </div>
</header>
<section class="works">
  <div class="works-filter wow fadeInUp"> <a href="#" data-filter="*" class="current">ALL<span></span></a> <a href="#" data-filter=".branding">BRANDING PRINT</a> <a href="#" data-filter=".digital">DIGITAL PRODUCTS</a> <a href="#" data-filter=".video">VIDEO ANIMATIONS</a> </div>
  <ul class="masonry wow fadeInUp">
    <li class="video">
      <figure><img src="images/work7.jpg" alt="Image">
        <figcaption>
          <div class="table">
            <div class="inner">
              <h4><a href="images/work7.jpg" class="fancybox">MARINE HABOUR</a></h4>
              <small>BRANDING, IDENDITY, PHOTOGRAPHY</small> </div>
          </div>
        </figcaption>
      </figure>
    </li>
    <li class="digital">
      <figure><img src="images/work2.jpg" alt="Image">
        <figcaption>
          <div class="table">
            <div class="inner">
              <h4><a href="images/work2.jpg" class="fancybox">CUBE CITY</a></h4>
              <small>BRANDING, IDENDITY, PHOTOGRAPHY</small> </div>
          </div>
        </figcaption>
      </figure>
    </li>
    <li class="branding">
      <figure><img src="images/work3.jpg" alt="Image">
        <figcaption>
          <div class="table">
            <div class="inner">
              <h4><a href="images/work3.jpg" class="fancybox">WORLD CAKE</a></h4>
              <small>BRANDING, IDENDITY, PHOTOGRAPHY</small> </div>
          </div>
        </figcaption>
      </figure>
    </li>
    <li class="digial branding video">
      <figure><img src="images/work8.jpg" alt="Image">
        <figcaption>
          <div class="table">
            <div class="inner">
              <h4><a href="images/work8.jpg" class="fancybox">PAINT BRUSH</a></h4>
              <small>BRANDING, IDENDITY, PHOTOGRAPHY</small> </div>
          </div>
        </figcaption>
      </figure>
    </li>
    <li class="video">
      <figure><img src="images/work5.jpg" alt="Image">
        <figcaption>
          <div class="table">
            <div class="inner">
              <h4><a href="images/work5.jpg" class="fancybox">YUMMMY</a></h4>
              <small>BRANDING, IDENDITY, PHOTOGRAPHY</small> </div>
          </div>
        </figcaption>
      </figure>
    </li>
    <li class="branding digital">
      <figure><img src="images/work6.jpg" alt="Image">
        <figcaption>
          <div class="table">
            <div class="inner">
              <h4><a href="images/work6.jpg" class="fancybox">GOAL LEGO</a></h4>
              <small>BRANDING, IDENDITY, PHOTOGRAPHY</small> </div>
          </div>
        </figcaption>
      </figure>
    </li>
    <li class="branding digital">
      <figure><img src="images/work9.jpg" alt="Image">
        <figcaption>
          <div class="table">
            <div class="inner">
              <h4><a href="images/work9.jpg" class="fancybox">GOAL LEGO</a></h4>
              <small>BRANDING, IDENDITY, PHOTOGRAPHY</small> </div>
          </div>
        </figcaption>
      </figure>
    </li>
  </ul>
</section>
<section class="quote" data-stellar-background-ratio="0.5">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-xs-12">
        <div class="content-box">
          <h3>DO YOU LIKE WHAT YOU SEE ?</h3>
          <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem seqi nesciunt. Neque poro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
          <a href="#">LEARN MORE</a> </div>
        <!-- end content-box --> 
      </div>
      <!-- end col-12 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end quote -->
<section class="contact">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-xs-12">
        <h2>CONTACT</h2>
      </div>
      <!-- end col-12 -->
      <div class="col-md-3">
        <figure><img src="images/icon5.png" alt="Image"></figure>
        <dl>
          <dt>LOCATION</dt>
          <dd>Ring Central Plot C: 796 A/3 Mango Avenue, Chicago</dd>
        </dl>
      </div>
      <!-- end col-3 -->
      <div class="col-md-3">
        <figure><img src="images/icon6.png" alt="Image"></figure>
        <dl>
          <dt>PHONE</dt>
          <dd>+1 (312)/ 564-0034</dd>
          <dd>+1 (312)/ 988-5738</dd>
        </dl>
      </div>
      <!-- end col-3 -->
      <div class="col-md-3">
        <figure><img src="images/icon7.png" alt="Image"></figure>
        <dl>
          <dt>E-MAIL</dt>
          <dd>support [at] sreative.com</dd>
          <dd>sales@ [at] sreative.com</dd>
        </dl>
      </div>
      <!-- end col-3 -->
      <div class="col-md-3">
        <figure><img src="images/icon8.png" alt="Image"></figure>
        <dl>
          <dt>Working hours</dt>
          <dd>Mon-Fri 9.00am - 4.00p
          <dd>Sat 12.00 - 5.00pm</dd>
        </dl>
      </div>
      <!-- end col-3 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end contact -->
<footer>
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-4"> <img src="images/logo-light.png" alt="Image" class="logo">
        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
        <p>Magni dolores eos qui ratione voluptatem seqi nesciunt. Neque poro quisquam est, qui dolorem ipsum quia.</p>
      </div>
      <!-- end col-4 -->
      <div class="col-md-4">
        <h4>PHOTO GALLERY</h4>
        <ul class="gallery">
          <li>
            <figure><img src="images/gallery1.jpg" alt="Image">
              <figcaption><a href="images/gallery1.jpg" class="fancybox"><i class="ion-android-expand"></i></a></figcaption>
            </figure>
          </li>
          <li>
            <figure><img src="images/gallery2.jpg" alt="Image">
              <figcaption><a href="images/gallery2.jpg" class="fancybox"><i class="ion-android-expand"></i></a></figcaption>
            </figure>
          </li>
          <li>
            <figure><img src="images/gallery3.jpg" alt="Image">
              <figcaption><a href="images/gallery3.jpg" class="fancybox"><i class="ion-android-expand"></i></a></figcaption>
            </figure>
          </li>
          <li>
            <figure><img src="images/gallery4.jpg" alt="Image">
              <figcaption><a href="images/gallery4.jpg" class="fancybox"><i class="ion-android-expand"></i></a></figcaption>
            </figure>
          </li>
          <li>
            <figure><img src="images/gallery5.jpg" alt="Image">
              <figcaption><a href="images/gallery5.jpg" class="fancybox"><i class="ion-android-expand"></i></a></figcaption>
            </figure>
          </li>
          <li>
            <figure><img src="images/gallery6.jpg" alt="Image">
              <figcaption><a href="images/gallery6.jpg" class="fancybox"><i class="ion-android-expand"></i></a></figcaption>
            </figure>
          </li>
        </ul>
        <!-- end gallery --> 
      </div>
      <!-- end col-4 -->
      <div class="col-md-4">
        <h4>NEWSLETTER</h4>
        <p>You will be among the first to know about hot new software and great deals on stuff to enhance and promote</p>
        <form>
          <input type="text" placeholder="Your e-mail">
          <button type="submit">SUBSCRIBE</button>
        </form>
        <small>* I promise, we won’t spam you!</small> </div>
      <!-- end col-4 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</footer>
<!-- end footer -->
<section class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h6>Copyright © 2015 , SREATIVE | Digital Agency</h6>
      </div>
      <!-- end col-6 -->
      <div class="col-md-6">
        <h6 class="pull-right">Created by Themezinho with <i class="ion-heart"></i> in Istanbul</h6>
      </div>
      <!-- end col-6 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end sub-footer --> 

<!-- JS FILES --> 
<script src="js/jquery.min.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script type="text/javascript">
(function($) {
	$(window).load(function(){
		$(".loading .table .inner").addClass("fade");
		$('.loading').delay(2000).addClass("fade-out");	
	});
})(jQuery)
</script> 
<script src="js/jquery.form.js"></script> 
<script src="js/jquery.validate.min.js"></script> 
<script src="js/contact-form.js"></script>
<script src="js/waypoints.min.js"></script> 
<script src="js/jquery.counterup.min.js"></script> 
<script src="js/isotope.min.js"></script> 
<script src="js/masonry.js"></script> 
<script src="js/wow.js"></script> 
<script src="js/owl.carousel.js"></script> <script src="js/jquery.stellar.js"></script>
<script src="js/jquery.fancybox.js?v=2.1.5" type="text/javascript"></script> 
<script src='js/jquery.themepunch.tools.min.js' type='text/javascript' ></script> 
<script src='js/jquery.themepunch.revolution.min.js' type='text/javascript' ></script> 
<script src='js/settings.js' type='text/javascript' ></script> 
<script src='js/scripts.js' type='text/javascript' ></script>
</body>
</html>